
.nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav{
    grid-area: nav;
    background-color: rgb(70, 58, 66);
  }
  .nav div {
    margin-top: 10px;
  }
 /* nav a:hover{
    background: gold;
    transition: .1s;
    border-radius: 3px;
  }*/